-var navLinks = ['Features', 'Team', 'Sign In']
-var title= ['Access your files, anywhere', 'Security you can trust', 'Real-time collaboration', 'Store any type of file']
-var icon= ['icon-access-anywhere.svg', 'icon-security.svg', 'icon-collaboration.svg', 'icon-any-file.svg']
-var img =['profile-1.jpg', 'profile-2.jpg', 'profile-3.jpg']
-var name = ['Satish Patel', 'Bruce McKenzie', 'Iva Boyd']
-var position = ['Founder & CEO, Huddle', 'Founder & CEO, Huddle', 'Founder & CEO, Huddle']
-var aboutlinks = ['About Us', 'Jobs', 'Press', 'Blog']
-var contactlinks = ['Contact Us', 'Terms', 'Privacy']

mixin feature(icon, title, text)
  article
    img(src="images/"+icon, alt="")
    h3=title
    p=text

mixin review(text, img, name, position)
  div.container
    .review__text
      p=text
    div.review__profile
      .profile__img
        img(src="images/"+img, alt="")
      .profile__text 
        h4=name
        p=position
