-var navLinks = ['Features', 'Team', 'Sign In']
-var title= ['Access your files, anywhere', 'Security you can trust', 'Real-time collaboration', 'Store any type of file']
-var icon= ['icon-access-anywhere.svg', 'icon-security.svg', 'icon-collaboration.svg', 'icon-any-file.svg']

mixin feature(icon, title, text)
  article
    img(src="images/"+icon, alt="")
    h1=title
    p=text

mixin review(text, img, name, position)
  div.review__container
    .review__text
      p=text
    div.review__profile
      img(src="images/"+img, alt="")
      h4=name
      p=Position
